---
layout: default
---
<!--
  Grid Layout (gridlay.html)
  
  Purpose:
    Grid layout used for pages with uniform card spacing.
    Optimized for displaying publications and similar content.
  
  Used by:
    - _pages/publications.md
  
  Features:
    - Full-width single column (col-sm-12)
    - Uniform card spacing
  
  Dependencies:
    - _layouts/default.html (parent layout)
  
  Differences from gridlay2.html:
    - gridlay.html: Used for publications
    - gridlay2.html: Used for research themes
-->
<div id="gridid" class="col-sm-12">
  {{ content }}
</div>
