---
layout: default
---
<!--
  Home Page Layout (homelay.html)
  
  Purpose:
    Two-column layout for the homepage with:
    - Left column: Lab logo, title, and main content
    - Right column: News feed sidebar
  
  Used by:
    - _pages/home.md
  
  Features:
    - Responsive Bootstrap grid (lg breakpoint)
    - Centered logo and lab title
    - Brand color (#951D33) for lab name
    - Serif fonts (Georgia, Palatino) for elegant title display
  
  Dependencies:
    - _layouts/default.html (parent layout)
    - _includes/news.html (news sidebar)
    - /images/logopic/group_logo_medium.svg (lab logo)
  
  Customization:
    - Logo: Edit src="/images/logopic/group_logo_medium.svg"
    - Lab name: Edit text in <h2> tag
    - Title color: Edit color: #951D33 in style attribute
    - Column widths: Adjust col-lg-8 and col-lg-4 classes
-->
<div class="row g-4">
  <div id="homeid" class="col-lg-8">
    <!-- Main homepage content from home.md -->
    {{ content }}
  </div>
  
  <!-- News sidebar -->
  <div id="newsid" class="col-lg-4">
    {% include news.html %}
  </div>
</div>
