---
title: "Atlas Analytics Lab - Publications"
layout: default
excerpt: "Atlas Analytics Lab -- Publications"
sitemap: false
permalink: /publications/
---
<!--
  Publications Layout (publications.html)
  
  Purpose:
    Wrapper layout for publication pages to provide consistent
    padding and width for publication listings.
  
  Used by:
    - _pages/publications.md
  
  Features:
    - Full-width column (col-sm-12)
    - Consistent padding for publication lists
  
  Dependencies:
    - _layouts/default.html (parent layout)
    - _includes/publication-item.html (publication rendering)
-->
<div id="publications" class="col-sm-12">
  {{ content }}
</div>
